<div class="attendancereport">
  <div class="header">Scout Meeting Attendance Report</div>
  <div class="attendanceMtgChooser">
    <select id="mtgselect" ng-model="$ctrl.selected"
            ng-options="meeting as $ctrl.genDate(meeting.activityDate) for meeting in $ctrl.meetings"></select>
  </div>
  <div class="attendancephotolist">
    <div ng-repeat="scout in $ctrl.scouts | orderBy: '_firstName'">
      <div class="scoutphoto">
        <scoutimage class="scout" scout="scout"></scoutimage>
        <div ng-show="$ctrl.isScoutAttend(scout,$ctrl.selected)" class="ispresent">
          <i class="material-icons" ng-click="$ctrl.btnClick()">check_circle</i>
        </div>
      </div>
      <scoutname scout="scout"></scoutname>
    </div>
  </div>
</div>
