<div class="meetingattendance">
  <div class="headerbar">
    <div class="header">Scout Meeting Attendance</div>
    <div class="setup">
      <i ng-click="$ctrl.showSetup=!$ctrl.showSetup" class="fa fa-cog" aria-hidden="true"></i>
      <div ng-if="$ctrl.showSetup" class="setupMenu">
        <div class="sortentry" ng-click="$ctrl.sortBy='_lastName';$ctrl.showSetup=false" >
          <i ng-show="$ctrl.sortBy==='_lastName'" class="fa fa-check" aria-hidden="true"></i>
          <span>Sort by Last Name</span>
        </div>
        <div class="sortentry" ng-click="$ctrl.sortBy='_firstName';$ctrl.showSetup=false" >
          <i ng-show="$ctrl.sortBy==='_firstName'" class="fa fa-check" aria-hidden="true"></i>
          <span>Sort by First Name</span>
        </div>
        <div class="sortentry" ng-click="$ctrl.groupByPatrol=!$ctrl.groupByPatrol;$ctrl.showSetup=false" >
          <i ng-show="$ctrl.groupByPatrol" class="fa fa-check" aria-hidden="true"></i>
          <span>Group By Patrol</span>
        </div>
        <div class="sortentry" ng-click="$ctrl.includeInactive=!$ctrl.includeInactive;$ctrl.showSetup=false" >
          <i ng-show="$ctrl.includeInactive" class="fa fa-check" aria-hidden="true"></i>
          <span>Include Inactive</span>
        </div>
        <div class="sortentry" ng-click="$ctrl.includeAgedOut=!$ctrl.includeAgedOut;$ctrl.showSetup=false" >
          <i ng-show="$ctrl.includeAgedOut" class="fa fa-check" aria-hidden="true"></i>
          <span>Include AgedOut</span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.position === 'scoutmaster'">
    <div class="attendanceMtgChooser">
      <select id="mtgselect" ng-model="$ctrl.selected" ng-change="$ctrl.setDate()"
              ng-options="meeting as $ctrl.genDate(meeting) for meeting in $ctrl.dates"></select>
      <div class="sortentry" ng-click="$ctrl.overrideWed=!$ctrl.overrideWed" >
        <i ng-show="$ctrl.overrideWed" class="fa fa-check" aria-hidden="true"></i>
        <span>Override Meeting Day</span>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.haveMeeting() === true">
    <div class="date">
      <span class="month">{{$ctrl.date.getMonth()+1}}</span>
      <span>/</span>
      <span>{{$ctrl.date.getDate()}}</span>
      <span>/</span>
      <span>{{$ctrl.date.getFullYear()}}</span>
    </div>
    <div ng-if="$ctrl.groupByPatrol === false">
      <div class="attendancephotolist" >
      <div ng-repeat="scout in $ctrl.attendance | orderBy: $ctrl.sortBy">
        <div ng-show="$ctrl.shouldShow(scout)">
          <div class="scoutphoto" ng-click="$ctrl.btnClick(scout,$ctrl.date)">
            <scoutimage class="scout" scout="scout"></scoutimage>
            <div ng-show="$ctrl.isAttend(scout,$ctrl.date)" class="ispresent">
              <i class="material-icons" >check_circle</i>
            </div>
          </div>
          <scoutname scout="scout"></scoutname>
        </div>
      </div>
    </div>
    </div>
    <div ng-if="$ctrl.groupByPatrol === true">
      <div ng-repeat="patrol in $ctrl.patrols | orderBy: 'toString()'">
        <div ng-hide="(patrol === 'Inactive' && $ctrl.includeInactive === false) || (patrol === 'AgedOut' && $ctrl.includeAgedOut === false)" class="roster-report-patrol">
          <div class="roster-report-patrol-name">{{patrol}}</div>
          <div class="attendancephotolist" >
            <div ng-repeat="scout in $ctrl.attendance | filter: { _patrol: patrol } | orderBy: $ctrl.sortBy">
              <div class="scoutphoto" ng-click="$ctrl.btnClick(scout,$ctrl.date)">
                <scoutimage class="scout" scout="scout"></scoutimage>
                <div ng-show="$ctrl.isAttend(scout,$ctrl.date)" class="ispresent">
                  <i class="material-icons" >check_circle</i>
                </div>
              </div>
              <scoutname scout="scout"></scoutname>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div ng-if="$ctrl.haveMeeting() === false && $ctrl.isWed()" class="noMeeting">
    <div class="addMeeting" ng-click="$ctrl.addMeeting()">Add Meeting</div>
  </div>
</div>
