<div class="report">
    <div class="header">Rank Distribution</div>
    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">No Rank</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.NONE].count}}</div>
    </div>
    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">Scout</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.SCOUT].count}}</div>
    </div>
    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">Tenderfoot</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.TENDERFOOT].count}}</div>
    </div>

    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">Second Class</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.SECOND_CLASS].count}}</div>
    </div>

    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">First Class</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.FIRST_CLASS].count}}</div>
    </div>

    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">Star</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.STAR].count}}</div>
    </div>

    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">Life</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.LIFE].count}}</div>
    </div>

    <div class="rank-report-rank-item">
        <div class="rank-report-rank-name">Eagle</div>
        <div class="rank-report-rank-count">{{$ctrl.results[ScoutbookDBConstant.ADVANCEMENT.EAGLE].count}}</div>
    </div>

</div>