<div class="report">
    <div class="header">Possible Requirement Completion</div>
    <div style='margin-bottom: 7px' ng-repeat="reqt in $ctrl.results | filter: {scout: {_firstName : $ctrl.firstName, _lastName: $ctrl.lastName}} | orderBy: ['rank', 'requirement', 'scout._lastName', 'scout._firstName']">
        <div style="display:flex;justify-content: space-between">
            <div style="flex:1">
                <span style="margin-right: 3px">{{reqt.scout._firstName}}</span>
                <span>{{reqt.scout._lastName}}</span>
            </div>
            <div style="flex:1">{{reqt.scout._patrolName}}</div>
            <div style="flex:1">{{reqt.rank}}</div>
            <div style="flex:1">{{reqt.requirement}}</div>
            <div style="flex:6">{{reqt.requirementText}}</div>
        </div>
    </div>
</div>