<div class="rosterReport">
  <style id='rosterReport'></style>
  <div ng-repeat="patrol in $ctrl.patrols | orderBy: 'toString()'">
    <div class="roster-report-patrol" ng-class="{disabled:!$ctrl.enabledPatrol[patrol]}">
      <div ng-if="patrol !== ''" class="roster-report-patrol-header" >
        <input type="checkbox" ng-model="$ctrl.enabledPatrol[patrol]">
        <div class="roster-report-patrol-name">{{patrol}}</div>
     </div>
      <div ng-if="patrol === ''" class="roster-report-patrol-name">UNASSIGNED</div>
      <div ng-if="$ctrl.enabledPatrol[patrol]" ng-repeat="scout in $ctrl.scouts | filter: { _patrolName: patrol } | orderBy: '_lastName'">
        <div ng-if='patrol !== "" || patrol === "" && scout._patrolName === ""'  class="roster-report-scout">
          <div class="roster-report-scout-card">
            <scoutname scout="scout"></scoutname>
            <div class="infobox">
              <div class="infoitem">
                <div class="info label left">Current Rank:</div><div class="info left">{{$ctrl.getRankText(scout)}}</div>
              </div>
              <div class="info placeholder"></div>
              <div class="infoitem">
                <div class="info label right">Rank Date:</div>
                <div class="info">{{$ctrl.getRankDate(scout)}}</div>
              </div>
            </div>

            <div class="infobox">
              <div class="infoitem">
                <div class="info label left">BSA ID:</div><div class="info left">{{scout._bsaId}}</div>
              </div>
              <div class="info placeholder"></div>
              <div class="infoitem">
                <div class="info label right">DOB:</div>
                <div class="info">{{scout._dob}}</div>
              </div>
            </div>
            <scoutcontact contact="$ctrl.getContact(scout)"></scoutcontact>
            <div class="infobox">
              <div class="infoitem">
                <div class="info label left">Current Leadership:</div>
                <div class="info left" ng-repeat="position in $ctrl.getCurrentLeadership(scout)">{{position._position}}</div>
              </div>
            </div>
          </div>
          <div ng-if='$ctrl.getParents(scout)' ng-repeat="parent in $ctrl.getParents(scout)" class="roster-report-parent-card">
            <div class="roster-report-parent-name scoutname">
              <div class="firstname">{{parent._firstName}}</div>
              <div class="lastname">{{parent._lastName}}</div>
              <div class="lastname">({{parent._relation}})</div>
            </div>
            <scoutcontact contact="parent"></scoutcontact>
          </div>
          <scoutimage class="scoutinfoimage" scout="scout"></scoutimage>
        </div>
      </div>
    </div>
  </div>
  <div id="rosterDownload"><button ng-click="$ctrl.exportRoster()">Download</button></div>
</div>
