<div>
    <scoutinfo scout="$ctrl.scout"></scoutinfo>
    <scoutrank scout="$ctrl.scout"></scoutrank>
    <scoutpor scout="$ctrl.scout"></scoutpor>
    <scoutbook-advancement-meritbadge scout="$ctrl.scout"></scoutbook-advancement-meritbadge>
<!--
    <scoutmb scout="$ctrl.scout"></scoutmb>
-->
    <scoutbook-camping-activity scout="$ctrl.scout"></scoutbook-camping-activity>
    <scoutbook-service-activity scout="$ctrl.scout"></scoutbook-service-activity>
<!--
    <reportdate scout="$ctrl.scout"></reportdate>
-->
</div>