* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #d0c0b0;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
}

#user-banner {
  background: #c0b0a0;
}

#name {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.softwareversion {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
