@page {
  size: letter landscape;
}
@page rotated { size : portrait }

.t66tmweb {
  height: 100%;
}
#btn {
  display: none;
}
#box {
  display: none;
}
#name {
  display: none;
}
.softwareversion {
  display: none;
}
#sign-out {
  display:none;
}
#scoutselect {
  display: none;
}
.scoutdiv {
  background: #ffffff;
  width: 100%;
  margin:auto;
}

.scoutinfo .name {
  display: flex;
}

.scoutname {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  flex-wrap: wrap;
}

.scoutname .firstname {
  margin: 5px;
}

.scoutname .lastname {
  margin: 5px;
}

.scoutinfoimage {
  margin-left: auto;
  margin-right: 10px;
}
.scoutimage {
  height: 100px;
  width: 100px;
}
.infobox {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 30px;
}
.infobox .info {
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  white-space: pre;
}

.infobox .infoitem {
  flex-wrap: nowrap;
  display: inherit;
}
.infobox .info .infoaddress{
  padding-right: 5px;
}
.infobox .info .infocity{
  padding-right: 5px;
}
.infobox .info .infostate{
  padding-right: 5px;
}

.infobox .placeholder {
  margin-left: auto;
}

.posdaterange {
  display: flex;
  width: 55%;
  flex-grow: 0;
  flex-wrap: wrap;
}
.infobox .label {
  font-weight: bolder;
}

.infobox .right {
  margin-left: auto;
}

.infobox .left {

}
.scoutrank {
  margin-top: 30px;
}
.scoutrank .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}.scoutrank .rankpatch {
   position: relative;
 }

.scoutrank .ranks {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
}
.scoutrank .ranks .rankpatch img {
  height: 150px;
  width: 200px;
}
.scoutrank .ranks .rankpatch .rankdate {
  position: absolute;
  right: 42px;
  bottom: 17px;
  background: rgba(255,255,255,.6);
  color: rgba(0,0,0,.9);
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  padding: 3px;
  border-radius: 6px;
  font-weight: bold;
}
.scoutmb {
  margin-top: 30px;
  page-break-inside: avoid;
}
.scoutmb .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  margin-bottom:5px;
}
.scoutmb .badges {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  page-break-inside: avoid;
}
.scoutmb .badges .meritbadge {
  width: 75px;
  margin-left: 15px;
  margin-right: 15px;
  page-break-inside: avoid;
}
.scoutmb .badges .meritbadge .badge{
  position: relative;
  height: 90px;
  page-break-inside: avoid;
}
.scoutmb .badges .meritbadge .badge .mbearneddate{
  position: relative;
  right: -10px;
  bottom: 20px;
  color: rgba(0,0,0,.9);
  background: rgba(255,255,255,.6);
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  padding: 3px;
  font-weight: bold;
  display: block;
  page-break-inside: avoid;
}

.scoutmb .badges .meritbadge .badge .mbname{
   position: absolute;
   left: 2px;
   top: 7px;
   background: rgba(255,255,255,.6);
   color: rgba(0,0,0,.9);
   font-family: "Roboto", sans-serif;
   font-size: 10px;
   padding: 3px;
   border-radius: 6px;
   font-weight: bold;
 }


meritbadge {
  page-break-inside: avoid;
}
.scoutmb .summary {
  width: 75%;
  margin-left: 30px;
  display:flex;
  margin-top: 7px;
  font-family: "Roboto", sans-serif;

}
.scoutmb .summary .label {
  font-weight: bolder;
  flex-grow: 0;
  margin-left: 10px;
}
.scoutmb .summary .sep {
  flex-grow: 1;
  border-bottom: 1px dashed;
}
.scoutmb .summary .val {
  flex-grow: 0;
  width: 30%;
}

.scoutmb .eagleneeded {
  display: inherit;
  padding-right: 7px;
  font-family: "Roboto", sans-serif;
}

eagleneeded {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
}

.eagleneeded::after {
  content: ", ";
}

.eagleneeded:last-child:after {
  content: "";
}

.camping {
  margin-top: 30px;
}
.camping .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}

.service {
  margin-top: 30px;
}
.service .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}


.table {
  width: 100%;
  display: flex;
  justify-content:  center;
  flex-flow: column nowrap;
  font-size: .8rem;
  margin: auto;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-left: 1px solid #d0d0d0;
}

.tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.td {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: pre-wrap;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  font-family: "Roboto", sans-serif;
}

.trailToEaglePerson {
  display: flex;
  width: 40%;
}
.trailToEagleRemain {
  display: flex;
  width: 60%;
}
.trailtoeagle .table .td {
  max-width: 100px;
}

.trailtoeagle eagleneeded {
  width: 100%;
}

.trailtoeagle .bd {
  font-size: 8pt;
}
.neededmb {
  max-width: 700px;
  min-width: 300px;
}

.t66footer {
  display: none;
}

.t66footer img {
  height: 150px;
}
.scoutpor {
  margin-top: 30px;
}
.scoutpor .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}
.scoutpor .por {
  width: 85%;
  margin-left: 30px;
  margin-top: 7px;

}
.scoutpor .por {
  width: 85%;
  display: flex;
  margin-left: 30px;
  margin-top: 7px;
  flex-wrap: wrap;
  margin:auto;
}
.position {
  width: 100%;
  display:flex;
  margin-top: 7px;
  font-family: "Roboto", sans-serif;
  position: relative;

}
.position .label {
  font-weight: bolder;
  flex-grow: 0;
  margin-left: 10px;
  width: 20%;
}
.position .sep {
  flex-grow: 1;
  border-bottom: 1px dashed;
}
.position .porstartdate {
  position: absolute;
  left: 2px;
  top: 7px;
  background: rgba(255,255,255,.6);
  color: rgba(0,0,0,.9);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 3px;
  border-radius: 6px;
  font-weight: bold;
}
.position .porenddate {
  position: absolute;
  right: 2px;
  bottom: 7px;
  background: rgba(255,255,255,.6);
  color: rgba(0,0,0,.9);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 3px;
  border-radius: 6px;
  font-weight: bold;
}
.reportdate {
  margin-top: 30px;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.reportdate .label {
  font-weight: bolder;
  flex-grow: 0;
  margin-left: 30px;
  padding-right: 10px;
}

.trailtoeagle .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.scoutsnotadvancing .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}

.photoreport {
  display: flex;
  flex-wrap: wrap;
}
.photoreportcontainer .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}
.photoreport .scoutname {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  flex-wrap: wrap;
  margin: auto;
  width: 100px;
}
.photoreport .scoutname .firstname {
  margin: 5px auto 5px auto;
}
.photoreport .scoutname .lastname {
  margin: 5px auto 5px auto;
}
.photoreport .scoutname .sep {
  margin: 1px;
}
.photoreport .scoutimage {
  padding-left: 10px;
}

.photoreport .scoutphoto {
  width: 120px;
  height: 150px;
  margin: auto;
  page-break-inside: avoid;
}
img {
  display: block;
  page-break-inside: avoid; /* or 'auto' */
}
span {
  page-break-inside: avoid;
}.whiteonred {
  background: red;
  color: white;
}

.blackonyellow {
  background: yellow;
  color: black;
}

.whiteonblack {
  background: black;
  color: white;
 }
.leadershipPerson {
  display: flex;
  width: 50%;
}
.leadershipPerson .td {
  align-content: center
}

.leadershipDetails {
  display: flex;
  width: 50%;
}
.leadershipreport .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}
.report .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}

.roster-report {
  page: rotated;
}

div#rosterDownload{
  display:none;
}
.roster-report-scout {
  display: flex;
  page-break-inside: avoid;
}
.roster-report-scout-card {
  font-size: small;
}
.scoutinfo-parents {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  flex-direction: row;
}
.roster-report-parent-card {
  position: relative;
  width: 250px;
  font-size: smaller;
}
.roster-report-parent-name {
  display: flex;
  margin-left: 10px;
  font-size: small;
  font-weight: bolder;
}
.roster-report-scout-card .scoutname {
  font-size: large;
}
.roster-report-patrol {
  page-break-after: always;
}
.roster-report-patrol.disabled {
  display: none;
}

.roster-report-patrol-header {
  background-color: black;
  display: flex;
}

.roster-report-patrol-name {
  background-color: black;
  color: white;
  font-size: xx-large;
  flex-grow: 9
}

.roster-report-scout-card {
  page-break-inside: avoid;
}

.attendancereport .header {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}